h2 {
    font-family: 'Playfair Display', serif;
    font-size: 50pt;
    letter-spacing: -3px;
    padding: 7px;
    background: #000;
    color: #000;
    transition: 1.2s;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 0pt;
}

h2:hover {
    width: 1000px;
    transition: 1.2s;
    background: #000;
    color: #fff;
}

main {
    padding-left: 100px;
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 11vw;
    margin-right: 11vw;
}

h3 {
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
    font-size: 30pt;
}

a {
    color: #000; 
    text-decoration: none;
    transition-timing-function: ease;
}

a:visited {
    color: #000; 
}

ul {
    line-height: 2.0;
    list-style-type: none;
    font-size: 13pt;
    font-family: 'Playfair Display', serif;
}

li {
    display: inline-block;
    transition-timing-function: ease-out;
    line-height: 3.0;
}

.sidebar::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #000000;
    transition: width .5s;
}

.sidebar:hover::after {
    width: 80px;
    transition: width .5s;
}
